steps:
  - name: gcr.io/cloud-builders/gcloud
    entrypoint: bash
    args:
      - '-c'
      - |
        gcloud container clusters get-credentials ${cluster_name} --project ${project_id} --zone ${cluster_location}

        kubectl get nodes
options:
  workerPool: ${worker_pool_id}
